.header {
    position: fixed;
    top: 0;
    overflow-x: scroll;
    width: 100%;
    height: 125px;
    background-color: antiquewhite;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.2)
}
.topNav {
    display: block;
    height: 75px;
}
.topNav ul {
    vertical-align: top;
    margin-top: 0;
}
.topNav a {
    text-decoration: none;
}
.topLeftNav {
    padding: 1em;
    float: left;
    display: block;
}
.topRightNav {
    padding: 1em;
    float: right;
    display: block;
}
.topRightNav li, .topLeftNav li {
    display: inline-block;
    margin: 5px;
}