.footer {
    padding: 10px;
    width: 100%;
    background-color: beige;
    display: inline-block;
}
.footer a {
    text-decoration: none;
    padding: 5px;
}
.footer ul {
    list-style-type: none;
    margin: 0.5rem;
    padding: 0;
}
.footer ul li {
    margin: 0;
    padding: 5px;
}
.container {
    text-align: center;
    margin: auto;
}
.contentBlock {
    vertical-align: top;
    text-align: left;
    display: inline-block;
    padding: 0.8rem 0;
}